@import url("https://use.typekit.net/vyl8gnu.css");
p,
ul li,
a {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
strong {
  font-family: "korolev-condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#toc ul {
  list-style: none;
  line-height: 1.5;
  -webkit-columns: 2;
          columns: 2;
  max-width: 900px;
  margin: auto;
  padding-left: 0;
}

#toc ul li a {
  font-family: "korolev-condensed";
  color: #fff;
  text-decoration: underline;
}

#toc ul li a:hover, #toc ul li a:focus, #toc ul li a:active {
  text-decoration: none;
}

.title-corners .kt-inside-inner-col,
.title-corners.wp-block-group {
  border-radius: 0px 40px 0px 40px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.5rem;
}

.executive-table table tr td {
  border: none;
  line-height: 1;
  font-weight: 400;
  font-family: "roboto-condensed", sans-serif;
}

.allocations-table {
  border-radius: 0px 40px 0px 40px;
  padding: 0 10px;
  margin-bottom: 1.5rem;
}

.allocations-table table {
  font-family: "korolev-condensed", sans-serif;
}

.allocations-table strong {
  font-size: 1.2rem;
}

.allocations-table table {
  line-height: 0.8;
}

.allocations-table.israel {
  border: solid 8px #1071b2;
}

.allocations-table.israel strong {
  color: #1071b2;
}

.allocations-table.israel table tbody tr:nth-child(2n + 1) {
  background-color: #1071b23b;
}

.allocations-table.national {
  border: solid 8px #fc9226;
}

.allocations-table.national strong {
  color: #fc9226;
}

.allocations-table.national table tbody tr:nth-child(2n + 1) {
  background-color: #fc922666;
}

.allocations-table.local {
  border: solid 8px #dc97de;
}

.allocations-table.local strong {
  color: #b323b7;
}

.allocations-table.local table tbody tr:nth-child(2n + 1) {
  background-color: #dc97de59;
}

.allocations-table.community {
  border: solid 8px #032e49;
}

.allocations-table.community strong {
  color: #032e49;
}

.allocations-table.community table tbody tr:nth-child(2n + 1) {
  background-color: #032e4936;
}

.allocations-table.additional {
  border: solid 8px #75c3c9;
}

.allocations-table.additional strong {
  color: #178c95;
}

.allocations-table.additional table tbody tr:nth-child(2n + 1) {
  background-color: #75c3c970;
}

.allocations-table.campaign {
  border: solid 8px #ffcc98;
}

.allocations-table.campaign strong {
  color: #fc9226;
}

.allocations-table.campaign table tbody tr:nth-child(2n + 1) {
  background-color: #ffcc9887;
}

.allocations-table table {
  line-height: 1;
}

.allocations-table td {
  border: none;
}

.wp-block-kadence-tabs .kt-tabs-content-wrap .kt-tab-inner-content {
  border-radius: 0px 40px 0px 40px;
  margin-bottom: 1.5rem;
}

.wp-block-kadence-tabs h5 {
  font-size: 1.3rem;
}

.agencies-tabs table {
  font-family: "korolev-condensed", sans-serif;
}

.agencies-tabs table tbody {
  color: #032e49;
  font-size: 0.8rem;
  font-family: "korolev-condensed", sans-serif;
}

.agencies-tabs table tbody tr:nth-child(2n + 1) {
  background-color: #ffefdf;
  color: #032e49;
}

.agencies-tabs table tr td {
  border: none;
}

.agencies-tabs h3 {
  color: #fff;
  background-color: #032e49;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.agency-impact-tabs table {
  font-family: "korolev-condensed", sans-serif;
}

.agency-impact-tabs table tbody {
  color: #032e49;
  font-size: 0.8rem;
  font-family: "korolev-condensed", sans-serif;
}

.agency-impact-tabs table tbody tr:nth-child(2n + 1) {
  background-color: #75c3c970;
  color: #032e49;
}

.agency-impact-tabs table tr td {
  border: none;
}

.agency-impact-tabs table tbody tr td:first-child {
  font-size: 1.5rem;
  padding: 0 10px;
}

.agency-impact-tabs .is-layout-flow.wp-block-group.has-background {
  padding: 20px 15px;
}
/*# sourceMappingURL=ap2022.css.map */