//breakpoints
$mobile: 430px;
$tablet: 700px;
$large-tablet: 920px;
$laptop: 1300px;
$large: 1600px;
$x-large: 1800px;
$widescreen: 2000px;

//fonts
@import url("https://use.typekit.net/vyl8gnu.css");
p,
ul li,
a {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
strong {
  font-family: "korolev-condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}
//colors
$blue: #1071b2;
$navy: #032e49;
$orange: #fc9226;
$teal: #75c3c9;
$purple: #dc97de;
$cream: #ffcc98;
$eggshell: #ffefdf;

//Table styles mixin
@mixin table-styles($color, $background, $fontsize) {
  tbody {
    color: $color;
    font-size: $fontsize;
    tr:nth-child(2n + 1) {
      background-color: $background;
      color: $color;
    }
  }
  tr td {
    border: none;
  }
}
//Table of Contents
#toc ul {
  list-style: none;
  line-height: 1.5;
  columns: 2;
  max-width: 900px;
  margin: auto;
  padding-left: 0;
  li {
    font-family: "korolev-condensed";
  }
}

//Title corners
.title-corners .kt-inside-inner-col,
.title-corners.wp-block-group {
  border-radius: 0px 40px 0px 40px;
  min-height: 200px;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

//Executive board
.executive-table table tr td {
  border: none;
  line-height: 1;
  font-weight: 400;
}

//Allocations Tables
.allocations-table {
  border-radius: 0px 40px 0px 40px;
  padding: 0 10px;
  margin-bottom: 1.5rem;
  strong {
    font-size: 1.2rem;
  }
  table {
    line-height: 0.8;
  }
  &.israel {
    border: solid 8px $blue;
    strong {
      color: $blue;
    }
    table tbody tr:nth-child(2n + 1) {
      background-color: #1071b23b;
    }
  }
  &.national {
    border: solid 8px $orange;
    strong {
      color: $orange;
    }
    table tbody tr:nth-child(2n + 1) {
      background-color: #fc922666;
    }
  }
  &.local {
    border: solid 8px $purple;
    strong {
      color: #b323b7;
    }
    table tbody tr:nth-child(2n + 1) {
      background-color: #dc97de59;
    }
  }
  &.community {
    border: solid 8px $navy;
    strong {
      color: $navy;
    }
    table tbody tr:nth-child(2n + 1) {
      background-color: #032e4936;
    }
  }
  &.additional {
    border: solid 8px $teal;
    strong {
      color: #178c95;
    }
    table tbody tr:nth-child(2n + 1) {
      background-color: #75c3c970;
    }
  }
  &.campaign {
    border: solid 8px $cream;
    strong {
      color: $orange;
    }
    table tbody tr:nth-child(2n + 1) {
      background-color: #ffcc9887;
    }
  }
  table {
    line-height: 1;
  }
  td {
    border: none;
  }
}

//tabs
.wp-block-kadence-tabs {
  .kt-tabs-title-list {
  }
  .kt-tabs-content-wrap .kt-tab-inner-content {
    border-radius: 0px 40px 0px 40px;
    margin-bottom: 1.5rem;
  }
}

.agencies-tabs {
  table {
    @include table-styles($orange, $cream, 0.8rem);
  }
}
