@import url("https://use.typekit.net/wvk8pmg.css");
h1,
h2,
h3,
h4,
h5,
span,
ul,
li,
label.gfield_label {
  font-family: "gravesend-sans";
  font-weight: 300;
}

h1,
h2,
h3,
h4,
label,
strong {
  font-weight: 700;
}

input {
  font-family: "gotham";
}

.thin {
  font-weight: 300;
}

.bold {
  font-weight: 700;
  font-family: "gravesend-sans";
}

.cutout {
  font-weight: 900;
}

.allcaps {
  text-transform: uppercase;
  font-family: "gravesend-sans";
}

.glow,
#input_879_75,
.gf_step.gf_step_active .gf_step_label {
  text-shadow: 0px 0px 10px #28bfef, 0px 0px 10px #28bfef;
}

#donation-panel {
  display: none;
}

#primary {
  background-color: #000b1d;
}

section.splash {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 700px) {
  section.splash {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 1fr;
        grid-template-columns: 70% 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    overflow: hidden;
    height: clamp(515px, 577px, 63vw);
  }
}

@media only screen and (min-width: 920px) {
  section.splash {
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
    height: clamp(515px, 820px, 55vw);
  }
}

section.splash .full-page {
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 1;
  max-width: 100%;
  margin-bottom: 0;
}

@media only screen and (min-width: 700px) {
  section.splash .full-page {
    height: clamp(515px, 577px, 63vw);
  }
}

@media only screen and (min-width: 920px) {
  section.splash .full-page {
    height: clamp(515px, 820px, 55vw);
  }
}

section.splash .full-page img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
  height: 100%;
  width: 100%;
}

section.splash figure.magic-swirl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 0;
  justify-self: end;
  width: 100%;
  max-width: 886px;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  z-index: 3;
}

@media only screen and (min-width: 700px) {
  section.splash figure.magic-swirl {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    z-index: 3;
  }
}

section.splash figure.magic-swirl img {
  width: 100%;
  -webkit-animation-name: puff-in-center;
          animation-name: puff-in-center;
}

section.splash figure.wayne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 0;
  justify-self: end;
  width: 100%;
  max-width: 886px;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  z-index: 2;
}

@media only screen and (min-width: 700px) {
  section.splash figure.wayne {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

section.splash .wp-block-group.splash--title {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  justify-self: start;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;
}

@media only screen and (min-width: 700px) {
  section.splash .wp-block-group.splash--title {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 4rem;
  }
}

section.splash .wp-block-group.splash--title .wp-block-group__inner-container {
  color: #fff;
  display: block;
}

@media only screen and (min-width: 700px) {
  section.splash .wp-block-group.splash--title .wp-block-group__inner-container {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

section.splash .wp-block-group.splash--title .wp-block-group__inner-container h2 {
  font-size: 13vw;
}

@media only screen and (min-width: 700px) {
  section.splash .wp-block-group.splash--title .wp-block-group__inner-container h2 {
    font-size: clamp(60px, 92px, 6.5vw);
  }
}

section.splash .wp-block-group.splash--title .wp-block-group__inner-container h2.second-heading {
  padding-left: 2.8rem;
  line-height: 0.5;
}

section.splash .wp-block-group.splash--title .wp-block-group__inner-container p:last-child {
  margin-left: 3.2rem;
  margin-top: 1rem;
}

section.splash .date {
  -ms-grid-row: 2;
  grid-row: 2;
  z-index: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  z-index: 2;
  padding-left: 1rem;
  font-size: 2rem;
}

@media only screen and (min-width: 700px) {
  section.splash .date {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    padding-left: 0;
  }
}

.info {
  background-image: url("https://jfmdorg.s3.us-west-2.amazonaws.com/wp-content/uploads/2020/12/21112700/glitch-bg-1-copy.jpg");
  background-size: 120%;
  background-repeat: repeat-y;
  background-position: left;
}

.more-info {
  background-image: url("https://jfmdorg.s3.us-west-2.amazonaws.com/wp-content/uploads/2020/12/21112217/colorful-glitch.jpg");
  background-size: 120%;
  background-repeat: repeat-y;
  background-position: left;
}

.packages {
  background-image: url("https://jfmdorg.s3.us-west-2.amazonaws.com/wp-content/uploads/2020/12/21143937/snowy-night.jpg");
  background-size: cover;
  background-position: center-top;
}

.packages .one-three-grid .wp-block-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gform_wrapper form .gf_page_steps .gf_step_active {
  background-color: transparent;
  font-weight: 700;
}

.gf_step_label {
  font-weight: 700;
}

#ui-datepicker-div {
  display: none;
}

.sidenav-dropdown {
  font-family: "gotham-bold";
  font-weight: 700;
  border-bottom: none;
  line-height: 2;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-17 16:27:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-18 14:29:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.flicker-in-1 {
  -webkit-animation: flicker-in-1 3s linear both;
  animation: flicker-in-1 3s linear both;
}

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-21 15:38:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=winter-fundraiser.css.map */