/** === Main menu === */
$nav-break: 1230px;
$mobile: 430px;

.header {
  background: transparent;
}
#masthead {
  transition: transform 0.25s ease-in-out;
  flex-direction: column;
  .nav--container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.social-nav {
  width: 100%;
  flex-basis: 100vw;
  display: flex;
  justify-content: end;
  color: #fff;
  margin: 0;
  list-style: none;
  gap: 25px;
  background-color: #0094d0;
  li {
    line-height: 0.8;
    a {
      font-size: 0.6rem;
      color: #fff;
      text-transform: uppercase;
    }
    span i {
      font-size: 15px;
    }
  }
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color__jfmd-blue;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 75px;
  transition: background-color $button_transition ease-in-out,
    height $button-transition ease-in-out;
  @media only screen and (max-width: $mobile) {
    position: absolute;
  }

  & .nav-logo {
    height: 80%;
    margin-left: 1rem;
    height: auto;
    width: 200px;
    position: relative;
    top: 6px;
    @media only screen and (max-width: $nav-break) {
      margin-left: 0;
      height: auto;
      width: 200px;
    }
    @media only screen and (max-width: $mobile) {
      display: none;
    }
  }
  & .nav-logo-mobile {
    width: 50px;
    margin-left: 10px;
    position: relative;
    top: 7px;
    @media only screen and (min-width: $mobile) {
      display: none;
    }
  }
  & .nav-list {
    display: flex;
    justify-content: flex-end;
    //margin-right: 50px;
    transition: transform 0.25s ease-in-out;
    gap: 1.5rem;
    margin: 0;

    & li {
      list-style-type: none;
      position: relative;
    }
    & li.top-level-nav a {
      color: #fff;
      padding: 10px 0.8rem 10px 0.8rem;
      font-size: 0.65rem;
      font-weight: 700;
      font-family: gotham-bold;
      & .fa-search {
        font-size: 0.8rem;
        padding-top: 12px;
        display: none;
      }
    }
    & li.top-level-nav > a:before {
      content: "";
      position: absolute;
      width: 80%;
      height: 3px;
      bottom: 0;
      left: 10%;
      background: #fff;
      visibility: hidden;
      border-radius: 5px;
      transform: scaleX(0);
      transition: 0.25s linear;
      margin-bottom: 15px;
    }
    & li.top-level-nav > a:hover:before,
    & li.top-level-nav > a:focus:before {
      visibility: visible;
      transform: scaleX(1);
    }
    @media only screen and (max-width: $nav-break) {
      display: none;
    }
  }
  & .nav-list__mobile {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    align-items: center;
    @media only screen and (min-width: $nav-break) {
      display: none;
    }

    & li {
      list-style-type: none;
    }
    & .menu-toggle {
      height: 1.5rem;
      margin-left: 2rem;
      width: 1.5rem;

      margin-right: 1rem;
      align-self: center;
      @media only screen and (max-width: $mobile) {
        margin-left: 1rem;
      }
    }
  }
}
.donate a {
  background-color: #fa4b06;
  padding: 2px 20px 6px 20px;
  transition: background-color $button_transition ease-in-out;
  font-family: gotham-bold;
  color: #fff;
  font-weight: 700;
  font-size: 0.7rem;
  &:hover,
  &:focus {
    background-color: #fff;
    box-shadow: inset 3px #fa4b06;
    a {
      color: #fa4b06;
    }
  }
  @media only screen and (max-width: $nav-break) {
    padding: 3px 25px 6px 25px;
  }
}

.scrolled-nav {
  background-color: $color__jfmd-blue;
  height: 60px;
}
.scrollyhide {
  transform: translateY(-75px);
}

.hidden {
  display: none;
}

.hide-for-mobile {
  @media only screen and (min-width: $nav-break) {
    display: none;
  }
}

.show-for-mobile-only {
  @media only screen and (min-width: $nav-break) {
    display: none;
  }
}

/* Hide Dropdowns by Default */
.main-nav ul li ul {
  display: none;
  position: absolute;
  top: 43px; /* the height of the main nav */
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.main-nav ul li .second-level-nav .second-level-nav--item {
  background-color: $color__light-gray;
  min-height: 40px;
  width: 220px;
  float: none;
  display: list-item;
  position: relative;
  line-height: 1;
  transition: background-color 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:first-child {
    margin-top: 10px;
  }
  &:last-child {
    padding-bottom: 6px;
  }
  &:hover {
    background-color: darken($color__light-gray, 20%);
  }
}

.main-nav
  ul
  li
  .second-level-nav
  .second-level-nav--item
  .second-level-nav--link {
  font-size: 0.55rem;
  font-weight: 700;
  color: $color__dark-gray;
  font-family: gotham;
}
/* Display Dropdowns on Hover */
.main-nav ul li:hover > ul {
  display: block;
  opacity: 1;
}

/* SEARCH OVERLAY */
.overlay {
  height: 250px;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background-color: $color__jfmd-blue;
  background-color: rgba(
    0,
    84,
    128,
    0.9
  ); /* Blue with a little bit see-through */
  transition: background-color 1s ease-in-out;
  .closebtn .fa-window-close {
    font-size: 1.3rem;
  }
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type="text"] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type="text"]:hover {
  background: #f1f1f1;
}

.search-form {
  grid-column: 1/14;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}

/* The side navigation menu */
.sidenav {
  height: 100vh; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  margin-top: 0;
  top: 0; /* Stay at the top */
  right: -400px;
  z-index: 99;
  background-color: #fff; /* White */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  list-style-type: none;
  border-left: $color__jfmd-blue 7px solid;
  @media only screen and (min-width: $mobile) {
    width: 400px;
  }
  a,
  span {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: gotham-bold;
    display: block;
    transition: 0.3s;
    color: $color__jfmd-blue;
    font-weight: 700;
    &:hover,
    &:focus {
      color: $color__jfmd_cyan;
    }
  }
  .donate {
    padding: 0;
    a {
      color: #fff;
      font-family: gotham-bold;
      font-size: 0.8rem;
    }
    &:hover,
    &:focus {
      a {
        color: #fa4b06;
      }
    }
  }
  .sidenav-dropdown {
    &:after {
      font-family: "Font Awesome 5 Pro";
      content: "\f101";
      font-weight: 900;
      padding-left: 10px;
      color: $color__jfmd-blue;
      display: inline;
    }
    + ul {
      display: none;
      &.show-menu {
        display: block;
        ~ .sidenav-dropdown:after {
          transform: rotate(90deg);
        }
      }
    }
  }
  li ul {
    list-style: none;
    li {
      font-family: gotham;
      font-weight: 700;
      line-height: 1.3;
    }
  }
}
#mobileMenu i {
  color: #fff;
}
/* When you mouse over the navigation links, change their color */

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* Menu animation */

@keyframes slide_in_right {
  100% {
    transform: translateX(0%);
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
